
html, body {
  margin:0;
  height:100%;
}

 #game-intro {
  display: block;
  background-image: url("https://t4.ftcdn.net/jpg/02/62/24/45/360_F_262244537_RjHfRBucxPyo7o6QetIAQYpd5O3h6cEN.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  width:100%;
  height:100%; 
  align-items: center;
  position: relative;
}
 

#btnStart {
  position: absolute;
  background-color: gray;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px 15px;
  border-color: rgb(175, 173, 173);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight: 600;
  top: 30%;
  left:65%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

 }

#dev-by {
  position: absolute;
  color: white;
  font-size: 10px;
  font-family: 'Courier New', Courier, monospace;
  top: 90%;
  left: 80%;
  
}

#instructions {
  position: absolute;
  display: block;
  color: white;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  top: 40%;
  left: 40%;
  padding: 50;
  text-align: center;
 
}

#game-container {
  display: none;
  background-color: rgb(246, 241, 246);
  background-size:cover;
  width:100%;
  height:100%; 
  align-items: center;
  position: relative;
}

.alphabet {
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  border: 3px solid black;
  background-color: rgb(145, 11, 145);
  align-items: center;
  width: 30%;
  height: 27%; 
  top: 40%;
  left: 55%;
  right:5%;
  
}

.alphabet button{
  background-color: rgb(242, 211, 242);
  border-width: 3px;
  padding: 10px 15px;
  border-color: rgb(177, 45, 177);
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

.alphabet button:hover {
  background-color: rgb(240, 149, 240);
}

#hint {
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  font-weight: bold;
  font-style: oblique;
  text-align: center;
  position: relative;
  left: 55%;
  right:5%;
  top: 40%;
  width: 30%;
}

#chances {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  position: relative;
  left: 55%;
  right:5%;
  top: 40%;
  width: 30%;

}